<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Dados Cadastrais</title>
  <!-- 追加：外部のスタイルシート -->
  <!-- <link rel="stylesheet" href="styles/professores.css" /> -->
  <!-- <link rel="stylesheet" href="styles/style.css" /> -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/bootstrap.css">
  <!-- Bootstrap Datepicker CSS -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css"
    rel="stylesheet">

  <style>
    .icon-container {
      text-align: center;
      margin: 20px;
    }

    .icon-container img {
      width: 100px;
      height: 100px;
      margin: 10px;
    }

    .img-home1 {
      width: 30px;
      height: 30px;
      border-radius: 50%;
    }
  </style>
</head>

<body>

  <!-- ナビゲーションバーのコードを貼り付け -->
  <nav class="navbar navbar-dark bg-dark fixed-top" style="background-color: transparent">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar"
        aria-controls="offcanvasDarkNavbar" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="offcanvas offcanvas-start text-bg-dark" tabindex="-1" id="offcanvasDarkNavbar"
        aria-labelledby="offcanvasDarkNavbarLabel">
        <div class="offcanvas-header">
          <h5 class="offcanvas-title" id="offcanvasDarkNavbarLabel">Smart Class</h5>
          <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas"
            aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
          <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/home">Home</a>
            </li>
            <% if (user.id_perfil === 2 || user.id_perfil === 3 || user.id_perfil === 4) { %> 
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                aria-expanded="false">
                Notas e Faltas
              </a>
              <ul class="dropdown-menu dropdown-menu-dark">
                <% if (user.id_perfil === 2) { %><!-- quando e Professor --> 
                  <li><a class="dropdown-item" href="/apricarNotas">Apricar Notas</a></li>
                  <li><a class="dropdown-item" href="/apricarFaltas">Apricar Faltas</a></li>
                <% } %>
                <% if (user.id_perfil === 3) { %><!-- quando e Aluno --> 
                <li><a class="dropdown-item" href="/veriNotas">Notas</a></li>
                <li><a class="dropdown-item" href="/veriFaltas">Faltas</a></li>
                <% } %>
                <% if (user.id_perfil === 4) { %><!-- quando e Responsaveis --> 
                  <li><a class="dropdown-item" href="/veriResponsavel">Verificar Notas e faltas</a></li>
                <% } %>
              </ul>
            </li>
            <% } %>
            <% if (user.id_perfil === 1 || user.id_perfil === 5) { %> 
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                aria-expanded="false">
                Cadastramentos
              </a>
              <ul class="dropdown-menu dropdown-menu-dark">
                <li><a class="dropdown-item" href="/turma">Turma</a></li>
                <li><a class="dropdown-item" href="/disciplina">Disciplinas</a></li>
                <li><a class="dropdown-item" href="/cadastrarUsuario">Usuarios</a></li>
                <li><a class="dropdown-item" href="/organizacao">Organizacao</a></li>
              </ul>
            </li>
            <% } %>
            <li class="nav-item">
              <a class="nav-link" href="/calendario">Calendario</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/dadosCadastrais">Dados Cadastrais</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/logout">Logout</a>
            </li>
          </ul>
        </div>
        
        <% if (user.id_perfil === 3) { %><!-- quando e Aluno --> 
          <div id="user-info" data-id-aluno="<%= user.id_aluno %>" data-nome-usuario="<%= user.nome_usuario %>"
            class="d-flex align-items-end">
            <p class="opacity-0">ID: <%= user.id_aluno %> Nome: <%= user.nome_usuario %></p>
          </div>
        <% } %>
        <% if (user.id_perfil === 4) { %><!-- quando e Responsaveis --> 
          <div id="user-info2" data-id-responsavel="<%= user.id_responsavel %>" data-nome-usuario-resp="<%= user.nome_usuario %>"
            class="d-flex align-items-end">
          <p class="opacity-0">ID: <%= user.id_responsavel %> Nome: <%= user.nome_usuario %></p>
          </div>
        <% } %>

      </div>
      <a href="/home" class="mx-auto d-block">
        <img src="/icons/smartclass.png" alt="smartclassIcon" class="img-home">
      </a>
      <a href="/mural" class="float-right d-block">
        <img src="/icons/notificacao.png" alt="smartclassIcon" class="img-home1">
      </a>
    </div>
  </nav>





  <!-- 以下、ベースのHTMLファイルのコンテンツを続ける -->
  <div class="container">
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <div class="card">
          <div class="card-header">
            Aluno Profile
          </div>
          <div class="card-body">
            <div class="img-container">
              <img src="<%= user.foto ? user.foto : '../upload/icon.png' %>" class="img-aluno" alt="Aluno Photo">
            </div>
            <table class="table">
              <tbody>
                <tr>
                  <th scope="row">Nome</th>
                  <td id="aluno-name">
                    <%= user.nome_usuario %>
                  </td>
                </tr>
                <tr>
                  <th scope="row">CPF</th>
                  <td id="aluno-cpf">
                    <%= user.cpf_usuario %>
                  </td>
                </tr>
                <tr>
                  <th scope="row">Endereco</th>
                  <td id="aluno-address">
                    <%= user.endereco_usuario %>
                  </td>
                </tr>
                <tr>
                  <th scope="row">Telefone</th>
                  <td id="aluno-phone">
                    <%= user.telefone_usuario %>
                  </td>
                </tr>
                <tr>
                  <th scope="row">Email</th>
                  <td id="aluno-email">
                    <%= user.email_usuario %>
                  </td>
                </tr>
                <tr>
                  <th scope="row">Data de nacimento</th>
                  <td id="aluno-dob">
                    <%= new Date(user.nascimento_usuario).toLocaleDateString("pt-BR") %>
                  </td>
                </tr>
                <% if (user.id_perfil===3) { %>
                  <tr>
                    <th scope="row">RA</th>
                    <td id="aluno-ra">
                      <%= user.ra_aluno %>
                    </td>
                  </tr>
                  <tr>
                    <th scope="row">Data de matricula</th>
                    <td id="aluno-registration-date">
                      <%= new Date(user.data_matricula).toLocaleDateString("pt-BR") %>
                    </td>
                  </tr>
                  <% } %>
              </tbody>
            </table>
            <!-- <button onclick="location.href='alterarCadastro.html'" type="submit" class="btn btn-primary">Alterar</button> -->
          </div>
        </div>
      </div>
    </div>
  </div>





  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
    crossorigin="anonymous"></script>
  <!-- Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <!-- Bootstrap Datepicker JS -->
  <script
    src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>

  </script>

</body>

</html>